<header class="fixed-top" data-bind="attr: { id: id }">
    <nav class="navbar">
        <div class="navbar-brand">
            <!-- ko foreach: brandMenuItems -->
            <!-- ko if: type() == 1 -->
            <a data-bind="attr: { href: href }, html: text, css: hrefCss, visible: isVisible"></a>
            <!--/ko-->
            <!-- ko if: type() == 2 -->
            <button data-bind="css: css, visible: isVisible" type="button">
                <!-- ko ifnot: href()!=='' -->
                <span data-bind="{ html: text, css: hrefCss }"></span>
                <!-- /ko -->
            </button>
            <!--/ko-->
            <!-- ko if: type() == 3 -->
            <a class="navbar-burger burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <!--/ko-->
            <!--/ko-->
        </div>
        <div class="navbar-menu" id="navbarSupportedContent">
            <div class="navbar-start">
                <!-- ko foreach: leftMenuItems -->
                <div class="navbar-item">
                    <!-- ko if: type() == 1 -->
                    <a data-bind="attr: { href: href }, html: text, css: hrefCss, visible: isVisible"></a>
                    <!--/ko-->
                    <!-- ko if: type() == 2 -->
                    <button data-bind="css: css, visible: isVisible" type="button">
                        <!-- ko ifnot: href()!=='' -->
                        <span data-bind="{ html: text, css: hrefCss }"></span>
                        <!-- /ko -->
                    </button>
                    <!--/ko-->
                </div>
                <!--/ko-->
            </div>
            <div class="navbar-end">
                <!-- ko foreach: rightMenuItems -->
                <li data-bind="css: css, visible: isVisible">
                    <!-- ko if: href()!=='' -->
                    <a data-bind="{ attr: { href: href }, html: text, css: hrefCss }"></a>
                    <!-- /ko -->
                    <!-- ko ifnot: href()!=='' -->
                    <span data-bind="{ html: text, css: hrefCss }"></span>
                    <!-- /ko -->
                </li>
                <!-- /ko -->

            </div>
        </div>
    </nav>
</header>